/* @GENERAL */
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    font-family: 'BrixSlab-Regular';
    font-size: 15px;
    font-weight: normal;

    color: var(--black-worn)
}


/*

Format	Size in Inches	Size in Millimeters     Pixels
Letter	8.5 × 11	    216 × 279               816.5 × 1054.5
Legal	8.5 × 14	    216 × 356               816.5 × 1345.5

*/


:root {
    --LETTER: 816.5px;

    --width: calc( (var(--LETTER) / 5) - 5*2px);     /* 2px right and bottom margins */
    --space: 24px;
}


/* BULK QR CODES PRINTING */

.qr-bulk-print-box {
    width: calc(5*(2px + var(--width)));
    min-width: calc(5*(2px + var(--width)));

    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: left;

}



.qr-card {
    --grad-back1:var(--gray15-pacific-cloud);
    --grad-back2:var(--gray40-pacific-cloud);
    
    margin: 0 2px 2px 0;
    width: var(--width);
    height: calc(2 * var(--width));

    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;

    background: -webkit-linear-gradient(135deg, var(--grad-back1), var(--grad-back2));
    background: -moz-linear-gradient(135deg, var(--grad-back1), var(--grad-back2));
    background: linear-gradient(135deg, var(--grad-back1), var(--grad-back2));
    background-color: var(--grad-back1);

    border-radius: calc(var(--width) / 26);
}



.qr-code {
    --qr-width: calc(var(--width) - 3px);

    width: var(--qr-width);
    height: var(--qr-width);

    border-radius: calc(var(--space)  / 6);
    /* border: 1px solid var(--orange-high-desert); */
    overflow: hidden;

    position: relative;
}
.qr-code::after {
    content: "";

    background-image: url('/static/images/water-mark.png');

    background-size: 40%;
    background-position: center;
    background-repeat: no-repeat;

    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    
    opacity: 0.945;
}
.qr-code::before {
    --grad-col1: var(--orange-high-desert);
    --grad-col2: black;

    content: "";

    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    background: -webkit-linear-gradient(135deg, var(--grad-col1), var(--grad-col2));
    background: -moz-linear-gradient(135deg, var(--grad-col1), var(--grad-col2));
    background: linear-gradient(135deg, var(--grad-col1), var(--grad-col2));
    background-color: var(--grad-col1);
    
}


.qr-card-title {
    padding-top: calc(var(--space) / 2);

    font-family: 'Industrial Bold';

    font-size: calc(var(--space) * 1.5);
    line-height: calc(var(--space) + 10px);
    color: var(--black-worn);
    
    letter-spacing: -3px;
    text-shadow: 5px 1px 2px var(--black40-worn);
}
.qr-card-title-line {
    width: 85%;
    border-bottom: 1px solid var(--black60-worn)
}
.qr-card-subtitle {
    font-family: 'Great Vibes', cursive;
    font-size: calc(var(--space) / 1.5);
    letter-spacing: -1.3px;
        
    color: var(--black80-worn);
}
.qr-card-name {
    padding-top: calc(var(--space) / 4);
    padding-bottom: calc(var(--space) / 4);

    font-family: "BrixSlab-Regular";
    font-size: calc(var(--space) / 2);
    text-transform: capitalize;
}
.qr-card-key {
    font-family: "BrixSlab-Bold";
    font-size: calc(var(--space) * 1.5);
}
.qr-card-class {
    font-family: "BrixSlab-Regular";
    font-size: calc(var(--space) / 3);
    margin-bottom: calc(var(--space) / 3);
}


.qr-code-img {
    margin-top: calc( -1 * var(--space)*0.55);
    margin-left: calc( -1 * var(--space)*0.55);
        
    mix-blend-mode: lighten;
}