/* @GENERAL */
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    font-family: 'BrixSlab-Light';
    font-size: 15px;
    font-weight: normal;
    
    color: black;
}

:root {
    --header-height: 2.5rem;
    --titles-row-height: 3.2rem;
    --left-cols-color: #c7c7c7;
    --borders-color: var(--gray60-pacific-cloud);
    --name-fixed-col-width: 6.5rem;
    --key-fixed-col-width: 3.5rem;
}


/* HEADERS COLOR GROUPS */
.-left-color-group {
    background-color: #333 !important;
    color: white !important;
}
.-dataCol-color-group {
    background: #785e9f !important;
    color: white !important;
}
.-agr-color-group {
    background: #505050 !important;
    color: white !important;
}
.-cost-color-group {
    background: #676767;
    color: white !important;
}
.-sign-color-group {
    background: #9f5e85;
    color: white !important;
}

.student-list-box {
    width: fit-content;
}

.student-list-header {
    width: 100%;
    height: var(--header-height);

    position: fixed;
    left: 0;
    top: 0;

    padding: 3px;

    background-color: #333;
    border-bottom: 1px solid var(--borders-color);

    z-index: 3;
}

.student-list-row {
    width:fit-content;
    display: flex;
    flex-wrap: nowrap;

    border-bottom: 1px solid var(--borders-color);
}
.student-list-row:nth-child(even) {
    background-color: #ebebeb;
}

#student-row-0 {
    margin-top: var(--header-height);
}

.-fixed1, .-fixed2, .-fixed3, .-fixed4 {
    position: sticky;
    z-index: 1;
}
.-fixed1 {
    left: 0;
}
.-fixed2 {
    left: var(--name-fixed-col-width);
}
.-fixed3 {
    left: calc(2 * var(--name-fixed-col-width) - 1px);
}
.-fixed4 {
    left: calc(2 * var(--name-fixed-col-width) + var(--key-fixed-col-width) - 1px);
}

.isSticky{
    color:wheat !important;
}

#fixed-headers-row {
    height: var(--titles-row-height);
    position: sticky;
    top: var(--header-height);
    z-index: 2;
}
.-header {
    font-family: "BrixSlab-Light" !important;
    font-size: 0.9rem !important;
    text-align: center !important;
    text-transform: capitalize !important;
}

.field {
    padding: 0.2rem;

    --width: 6rem;
    width: var(--width);
    min-width: var(--width);

    overflow-x: hidden;
    border-right: 1px solid var(--borders-color);
}
.-firstName, .-lastName, .-middleName {
    --width: var(--name-fixed-col-width);
    background-color: var(--left-cols-color);
}
a.-name {
    color:rgb(15, 15, 138)
}
.-key {
    --width: var(--key-fixed-col-width);
    background-color: var(--left-cols-color);
    text-align: center;
}
.-qr {
    --width: 3rem;
    background-color: var(--left-cols-color);
    text-align: center;
}
.qr-check {
    --chbx-size: 1.2;

    -ms-transform: scale(var(--chbx-size)); /* IE */
    -moz-transform: scale(var(--chbx-size)); /* FF */
    -webkit-transform: scale(var(--chbx-size)); /* Safari and Chrome */
    -o-transform: scale(var(--chbx-size)); /* Opera */
    transform: scale(var(--chbx-size));
}
.-TTT {
    --width: 5rem;
    background-color: var(--orange-high-desert);
    color: white;
    text-align: center;
}
.-status {
    --width: 5rem;
    background-color: var(--left-cols-color);
    text-align: center;
}
.-status-block {
    color: var(--orange-high-desert);
}
.-status-unblock {
    color: var(--good-done1);
}
.-status-archive {
    color: yellow;
}

.-email {
    --width: 15rem;
    background-color: var(--left-cols-color);
    text-transform: lowercase;
}
.-email-verified {
    --width: 5rem;
    background-color: var(--left-cols-color);
    text-align: center;
}
.-email-trusted {
    color: var(--good-done1);
}
.-email-unsafe {
    color: var(--bad-todo1);
}
.-street {
    --width: 12.5rem;
    text-transform: uppercase;
}
.-city {
    --width: 7rem;
    text-transform: uppercase;
    text-align: center;
}
.-state {
    --width: 7.5rem;
    text-transform: uppercase;
    text-align: center;
}
.-zip {
    --width: 4rem;
    text-align: center;
}
.-phone {
    --width: 6.7rem;
    text-transform: uppercase;
    text-align: center;
}
.-DOB {
    --width: 6rem;
    text-align: center;
}
.-SSN {
    --width: 6.7rem;
    text-align: center;
}

.-class {
    --width: 7rem;
    text-align: center;
}
.-transmission {
    --width: 7rem;
    text-align: center;
}
.-visiting {
    --width: 8rem;
    text-align: center;
}

.-tuitionCost, .-totalCost {
    --width: 7rem;
    text-align: right;
}

.-regisrFee, .-supplyFee, .-otherFee {
    --width: 6.5rem;
    text-align: right;
}

.-payment {
    --width: 16rem;
    white-space: nowrap;
}
.-thirdPartyList {
    --width: 8rem;
    white-space: nowrap;
}

.-created,
.-schoolSignDate,
.-updatedDate {
    --width: 6rem;
    text-align: center;
}
.-schoolSignRep,
.-updatedAdmin {
    --width: 6rem;
    text-align: center;
}


/* Buttons in top menu */
.button-box {
    height: 100%;

    display: flex;
    align-items: center;
}
.-btn {
    padding: 0;
    margin: 0 2px;

    width: 2rem;
    height: 1.95rem;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
    border: none;
}
.-btn:hover {
    opacity: 0.9;
    transition: opacity .15s ease-in;
}

.button-ico {
    width: 1.35rem;
    height: 1.35rem;

    fill: #785e9f;
}
.button-ico:hover {
    fill: #5324d4;
    transition: fill .15s ease-in;
}
.-bigger {
    width: 1.85rem;
    height: 1.85rem;
}


@keyframes lighthouse-work {
    0% { transform: translate(0, 0) scale(1.25, 0.75); }
    50% { transform: translate(0, -40%) scale(1, 1); }
    55% { transform: translate(0, -40%) rotate(15deg); }
    60% { transform: translate(0, -40%) rotate(-15deg); }
    65% { transform: translate(0, -40%) rotate(15deg); }
    70% { transform: translate(0, -40%) rotate(-15deg); }
    100% { transform: translate(0, 50%) scale(1.25, 0.75); }
}
.-jump {
    -webkit-animation: lighthouse-work 1s cubic-bezier(0.445, 0.050, 0.550, 0.950) 2 alternate ;
    animation: lighthouse-work 1s cubic-bezier(0.445, 0.050, 0.550, 0.950) 2 alternate ;
}
.lighthouse {
    margin: 0 5px 0 2px;
    width: 1.35rem;
    height: 1.35rem;

    background: -webkit-linear-gradient(135deg, #5324d4, #785e9f);
    background: -moz-linear-gradient(135deg, #5324d4, #785e9f);
    background: linear-gradient(135deg, #5324d4, #785e9f);
    border-radius: 20%;
}

.-hidden {
    display: none;
}