@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css');

/* @GENERAL */
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --header-height: 3rem;
    --titles-row-height: 3.2rem;
    --left-cols-color: #bbbbbb;
    --borders-color: var(--gray60-pacific-cloud);
    /* fixed rows width */
    --lastname-fixed-col-width: 8rem;
    --name-fixed-col-width: 6rem;
    --key-fixed-col-width: 3.5rem;
    --TTT-fixed-col-width: 5rem;
    --balance-fixed-col-width: 5rem;
    
    /* deltas */
    /* fixed2 delta from fixed1 */
    --delta1: var(--lastname-fixed-col-width);
    /* fixed3 delta from fixed2 */
    --delta2: calc(var(--delta1) + var(--name-fixed-col-width));
    /* fixed4 delta from fixed3 */
    --delta3: calc(var(--delta2) + var(--key-fixed-col-width));
    /* fixed5 delta from fixed4 */
    --delta4: calc(var(--delta3) + var(--TTT-fixed-col-width));

    --accent1: white;
    --accent-bad: #dd4848;
    /* for search */
    --filter-accent: #43a84366;
    --filter-accent1: #43a843;
}


/* HEADERS COLOR GROUPS */
.-left-color-group {
    background-color: #333 !important;
    color: white !important;
}
.-dataCol-color-group {
    background-color: #444 !important;
    color: white !important;
}
.-agr-color-group {
    background-color: #444 !important;
    color: white !important;
}
.-cost-color-group {
    background-color: #444 !important;
    color: white !important;
}
.-sign-color-group {
    background-color: #444 !important;
    color: white !important;
}
.-learn-color-group {
    background-color: #444 !important;
    color: wheat !important;
}
.-scoring-color-group {
    background-color: #444 !important;
    color: white !important;
}

.student-list-box {
    width: fit-content;
}

.student-list-header {
    width: 100%;
    height: var(--header-height);

    position: fixed;
    left: 0;
    top: 0;

    padding: 3px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: #333;
    border-bottom: 1px solid var(--borders-color);

    z-index: 3;
}

.welcome-admin, .welcome-admin span {
    font-family: 'Great Vibes', cursive;
    font-size: 25px;
    color: white;
    padding: 0 5px;
    letter-spacing: 0.5px;
}

.welcome-admin span {
    color: wheat;
}

.student-list-row {
    width:fit-content;
    height: 2rem;

    display: flex;
    flex-wrap: nowrap;

    border-bottom: 1px solid var(--borders-color);
}
.student-list-row:nth-child(even) {
    background-color: #e0e0e0;
}

.student-list-body {
    margin-top: var(--header-height);
}


/* fixed rows */
.-fixed1 {
    position: sticky;
    z-index: 1;

    left: 0;
}
.-fixed2 {
    position: sticky;
    z-index: 1;

    left: var(--delta1);
}
.-fixed3 {
    position: sticky;
    z-index: 1;

    left: var(--delta2);
}
.-fixed4 {
    position: sticky;
    z-index: 1;

    left: var(--delta3);
}
.-fixed5 {
    position: sticky;
    z-index: 1;

    left: var(--delta4);
}

.isSticky{
    color:wheat !important;
}

#fixed-headers-row {
    height: var(--titles-row-height);
    position: sticky;
    top: var(--header-height);
    z-index: 2;
}
.-header {
    font-family: "BrixSlab-Light" !important;
    font-size: 0.9rem !important;
    text-align: center !important;
    text-transform: capitalize !important;
    white-space: normal !important;
}

.field {
    padding: 0.2rem;

    --width: 6rem;
    width: var(--width);
    min-width: var(--width);

    font-family: 'BrixSlab-Light';
    font-size: 14px;
    font-weight: normal;

    white-space: nowrap;
    overflow-x: hidden;
    border-right: 1px solid var(--borders-color);
}
.-lastName {
    --width: var(--lastname-fixed-col-width);
    background-color: var(--left-cols-color);
    font-style: italic;
}
.-firstName, .-middleName {
    --width: var(--name-fixed-col-width);
    background-color: var(--left-cols-color);
    font-style: italic;
}
.student-list-row a {
    font-family: 'BrixSlab-LightItalic';
    font-size: 0.83rem;
    color:#111111;
}
.-key {
    --width: var(--key-fixed-col-width);
    background-color: var(--left-cols-color);
    text-align: center;
}
.-location {
    --width: 7rem;
    background-color: var(--left-cols-color);
    text-align: center;
}
.-unset-location {
    color: var(--accent-bad);
}
.-qr {
    --width: 3rem;
    background-color: var(--left-cols-color);
    text-align: center;
}
.qr-check {
    --chbx-size: 1.2;

    -ms-transform: scale(var(--chbx-size)); /* IE */
    -moz-transform: scale(var(--chbx-size)); /* FF */
    -webkit-transform: scale(var(--chbx-size)); /* Safari and Chrome */
    -o-transform: scale(var(--chbx-size)); /* Opera */
    transform: scale(var(--chbx-size));
}
.-TTT {
    --width: var(--TTT-fixed-col-width);
    background-color: var(--left-cols-color);
    color: var(--accent1);
    text-align: center;
}
.-balance {
    --width: var(--balance-fixed-col-width);
    background-color: var(--left-cols-color);
    text-align: right;
}
.-status {
    --width: 5rem;
    text-align: center;
}
.-status-block {
    color: var(--orange-high-desert);
}
/* .-status-unblock {
    color: var(--good-done1);
} */
.-status-archive {
    color: yellow;
}

.-email {
    --width: 15rem;
    text-transform: lowercase;
}
.-email-verified {
    --width: 5rem;
    text-align: center;
}
/* .-email-trusted {
    color: var(--good-done1);
} */
.-email-unsafe {
    color: var(--bad-todo1);
}
.-street {
    --width: 15rem;
    text-transform: uppercase;
}
.-city {
    --width: 9rem;
    text-transform: uppercase;
    text-align: center;
}
.-state {
    --width: 3.5rem;
    text-transform: uppercase;
    text-align: center;
}
.-zip {
    --width: 3.5rem;
    text-align: center;
}
.-phone {
    --width: 7rem;
    text-transform: uppercase;
    text-align: center;
}
.-DOB {
    --width: 5.5rem;
    text-align: center;
}
.-SSN {
    --width: 5.5rem;
    text-align: center;
}

.-class {
    --width: 8rem;
    text-align: center;
}
.-transmission {
    --width: 6rem;
    text-align: center;
}
.-visiting {
    --width: 6rem;
    text-align: center;
}

.-tuitionCost, .-totalCost,
.-regisrFee, .-supplyFee, .-otherFee {
    --width: 5rem;
    font-size: 0.83rem;
    font-style: italic;
    text-align: right;
}

.-tuitionCost[data-amount='0'],
.-totalCost[data-amount='0'],
.-regisrFee[data-amount='0'],
.-supplyFee[data-amount='0'],
.-otherFee[data-amount='0'] {
    color: lightgray;
}

.-totalCost {
    font-weight: bolder;
    color: #5324d4;
}

.-payment {
    --width: 17rem;
}
.-thirdPartyList {
    --width: 17rem;
}

.-created,
.-schoolSignDate,
.-updatedDate {
    --width: 5.5rem;
    text-align: center;
}
.-schoolSignRep,
.-updatedAdmin {
    --width: 5.5rem;
    text-align: center;
}

/* Tuition States */
.-tuition {
    --width: 5rem;
    text-align: center;
}


.-tuitionDisabled, .-tuitionDone, .-tuitionProgress {
    font-family: 'BrixSlab-LightItalic';
    text-decoration: none;
}
.-tuitionDisabled {
    background-color: #dd4848;
    color: #fff;
}
.-tuitionDone, .-tuitionProgress {
    color: #333333;
}
.-tuitionProgress {
    --col1: transparent;
    --col2: #ebf900;
    --right: calc(var(--progress) + 5%);

    background: -webkit-linear-gradient(90deg, var(--col1) var(--progress), var(--col2) var(--right));
    background: -moz-linear-gradient(90deg, var(--col1) var(--progress), var(--col2) var(--right));
    background: linear-gradient(90deg, var(--col1) var(--progress), var(--col2) var(--right));
}

/* Scoring States */
.-scoring, .-isAllowed {
    --width: 4.2rem;
    text-align: center;
    font-size: 0.83rem !important;
}

.fa-check, .fa-ban, .fa-thumbs-up {
    padding: 3px;
    font-size: 1rem;
    color: #333;
    cursor:pointer;
    transition: all 0.2s linear;
}
.fa-check:hover,
.fa-ban:hover,
.fa-thumbs-up:hover {
    background-color: #a1a1a1;
    color: #fff;
    border-radius: 100%;
}

.-scoringPassed {
    color: #52b3b6;
    cursor: pointer;
}
.-scoringFailed {
    color: #dd4848;
    transform: rotate(180deg);
    cursor: pointer;
}


/* Buttons in top menu */
.button-box {
    height: 100%;

    display: flex;
    align-items: center;
}
.-btn {
    all: unset;

    margin: 0 5px;
    width: 45px;
    height: 35px;
    
    display: inline-flex;
    align-items: center;
    justify-content: center;

    font-size: 1.15rem;
    font-weight: normal;
    
    text-decoration: none;
    
    color: rgba(255, 255, 255, 0.95);
    background: transparent;
    
    border: 2px solid rgba(255, 255, 255, 0.95);
    border-radius: 30px;

    cursor: pointer;
}
.-btn:hover {
    color: #fff;
    border: 2px solid #fff;

    transform: translateY(-1px);
    transition: all 0.25s linear;
}


@keyframes lighthouse-work {
    0% { transform: translate(0, 0) scale(1.25, 0.75); }
    50% { transform: translate(0, -40%) scale(1, 1); }
    55% { transform: translate(0, -40%) rotate(15deg); }
    60% { transform: translate(0, -40%) rotate(-15deg); }
    65% { transform: translate(0, -40%) rotate(15deg); }
    70% { transform: translate(0, -40%) rotate(-15deg); }
    100% { transform: translate(0, 50%) scale(1.25, 0.75); }
}
.-jump {
    -webkit-animation: lighthouse-work 1s cubic-bezier(0.445, 0.050, 0.550, 0.950) 2 alternate ;
    animation: lighthouse-work 1s cubic-bezier(0.445, 0.050, 0.550, 0.950) 2 alternate ;
}


@keyframes rollIn {
    0% { opacity: 0; transform: translateX(-100%) rotate(-120deg); }
    100% { opacity: 1; transform: translateX(0px) rotate(0deg); } 
}
.-roll {
    -webkit-animation: rollIn 1s cubic-bezier(0.445, 0.050, 0.550, 0.950) 2 alternate ;
    animation: rollIn 1s cubic-bezier(0.445, 0.050, 0.550, 0.950) 2 alternate ;
}


@keyframes flip {
    from { transform: rotateY(0deg); }
    to { transform: rotateY(360deg); }
}
.-flip{
    animation: flip 1s linear; 
}

.lighthouse {
    margin: 0 5px 0 2px;
    width: 1.35rem;
    height: 1.35rem;

    color: #fff;
    text-align: center;

    background: -webkit-linear-gradient(135deg, #5324d4, #785e9f);
    background: -moz-linear-gradient(135deg, #5324d4, #785e9f);
    background: linear-gradient(135deg, #5324d4, #785e9f);
    border-radius: 20%;
}

.-hidden {
    display: none;
}


/* Balance styles */
.balance-zero {
    /* --col1: #9acfc3;
    --col2: #56b5b8;

    background: -webkit-linear-gradient(90deg, var(--col1), var(--col2));
    background: -moz-linear-gradient(90deg, var(--col1), var(--col2));
    background: linear-gradient(90deg, var(--col1), var(--col2)); */

    padding-right: 3px;

    font-family: 'BrixSlab-LightItalic';
    font-size: 14px;
    color: #333;
    text-decoration: none;
}
.balance-student-owe {
    --col1: var(--left-cols-color);
    --col2: var(--accent-bad);
    --right: calc(var(--perc) + 3%);

    background: -webkit-linear-gradient(90deg, var(--col1) var(--perc), var(--col2) var(--right));
    background: -moz-linear-gradient(90deg, var(--col1) var(--perc), var(--col2) var(--right));
    background: linear-gradient(90deg, var(--col1) var(--perc), var(--col2) var(--right));

    padding-right: 3px;

    font-family: 'BrixSlab-LightItalic';
    font-size: 14px;
    color: #222222;
    text-decoration: none;
}
.balance-company-owe {
    background-color: #f5d992 !important;

    padding-right: 3px;
    font-family: 'BrixSlab-LightItalic';
    font-size: 14px;
    color: #333333;
    text-decoration: none;
}


/* search-bar */
#search-bar, #location-select {
    min-width: 150px;
    min-height: 2em;

    margin-left: 20px;
    padding: 3px 5px;

    font-family: "BrixSlab-LightItalic";
    font-size: 0.93rem;
    color: #fff;

    max-width: 10em;

    background: transparent;
    border: 1px solid #fff;
    outline: unset;
}
#search-bar:focus, #location-select:focus {
    background-color: var(--filter-accent);
}
#location-select option {
    background-color: #424242;
}
.-visible > .-lastName {
    color: var(--filter-accent1) !important;
}