/* @GENERAL */
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    font-family: 'BrixSlab-Light' !important;
    font-size: 15px;
    font-weight: normal;
    
    color: black;
}

:root {
    --left-cols-color: #c7c7c7;
    --borders-color: var(--gray60-pacific-cloud);
    --name-fixed-col-width: 6.5rem;
    --key-fixed-col-width: 3.5rem;
}


/* HEADERS COLOR GROUPS */
.-left-color-group {
    background-color: #333 !important;
    color: white !important;
}
.-dataCol-color-group {
    background: #785e9f !important;
    color: white !important;
}
.-agr-color-group {
    background: #505050 !important;
    color: white !important;
}
.-cost-color-group {
    background: #676767;
    color: white !important;
}
.-sign-color-group {
    background: #9f5e85;
    color: white !important;
}

.student-list-box {
    --brd-width: 5px;
    width: fit-content;
    border-top: var(--brd-width) solid var(--left-cols-color);
    border-left: var(--brd-width) solid var(--left-cols-color);
    border-right: var(--brd-width) solid var(--left-cols-color);
    border-bottom: 1px solid var(--left-cols-color);
}

.student-list-row {
    width:fit-content;
    display: flex;
    flex-wrap: nowrap;

    border-bottom: 1px solid var(--borders-color);
}
.student-list-row:nth-child(even) {
    background-color: #ebebeb;
}

.-fixed1, .-fixed2, .-fixed3, .-fixed4 {
    position: sticky;
    z-index: 1;
}
.-fixed1 {
    left: 0;
}
.-fixed2 {
    left: var(--name-fixed-col-width);
}
.-fixed3 {
    left: calc(2 * var(--name-fixed-col-width) - 1px);
}
.-fixed4 {
    left: calc(2 * var(--name-fixed-col-width) + var(--key-fixed-col-width) - 1px);
}

.isSticky{
    color:wheat !important;
}

#fixed-headers-row {
    position: sticky;
    top: 0;
    z-index: 2;
}
.-header {
    font-family: "BrixSlab-Light" !important;
    font-size: 0.9rem !important;
    text-align: center !important;
    text-transform: capitalize !important;
}

.field {
    padding: 0.2rem;

    --width: 6rem;
    width: var(--width);
    min-width: var(--width);

    overflow-x: hidden;
    border-right: 1px solid var(--borders-color);
}
.-name {
    --width: var(--name-fixed-col-width);
    background-color: var(--left-cols-color);
}
.-key {
    --width: var(--key-fixed-col-width);
    background-color: var(--left-cols-color);
    text-align: center;
}
.-qr {
    --width: 3rem;
    background-color: var(--left-cols-color);
    text-align: center;
}
.qr-check {
    --chbx-size: 1.2;

    -ms-transform: scale(var(--chbx-size)); /* IE */
    -moz-transform: scale(var(--chbx-size)); /* FF */
    -webkit-transform: scale(var(--chbx-size)); /* Safari and Chrome */
    -o-transform: scale(var(--chbx-size)); /* Opera */
    transform: scale(var(--chbx-size));
}
.-email {
    --width: 15rem;
    background-color: var(--left-cols-color);
    text-transform: lowercase;
}
.-email-verified {
    --width: 5rem;
    background-color: var(--left-cols-color);
    text-align: center;
}
.-email-trusted {
    color: var(--good-done1);
}
.-email-unsafe {
    color: var(--bad-todo1);
}
.-TTT {
    --width: 5rem;
    background-color: var(--orange-high-desert);
    color: white;
    text-align: center;
}
.-street {
    --width: 12.5rem;
    text-transform: uppercase;
}
.-city {
    --width: 7rem;
    text-transform: uppercase;
    text-align: center;
}
.-state {
    --width: 7.5rem;
    text-transform: uppercase;
    text-align: center;
}
.-zip {
    --width: 4rem;
    text-align: center;
}
.-phone {
    --width: 6.7rem;
    text-transform: uppercase;
    text-align: center;
}
.-DOB {
    --width: 6rem;
    text-align: center;
}
.-SSN {
    --width: 6.7rem;
    text-align: center;
}

.-program {
    --width: 8.45rem;
    white-space: nowrap;
}
.-class {
    --width: 7rem;
    text-align: center;
}
.-transmission {
    --width: 7rem;
    text-align: center;
}
.-visiting {
    --width: 8rem;
    text-align: center;
}

.-tuitionCost, .-totalCost {
    --width: 7rem;
    text-align: right;
}

.-regisrFee, .-supplyFee, .-otherFee {
    --width: 6.5rem;
    text-align: right;
}

.-payment {
    --width: 16rem;
    white-space: nowrap;
}
.-thirdPartyList {
    --width: 8rem;
    white-space: nowrap;
}

.-created,
.-schoolSignDate,
.-updatedDate {
    --width: 6rem;
    text-align: center;
}
.-schoolSignRep,
.-updatedAdmin {
    --width: 6rem;
    text-align: center;
}


/* 
@BRIX font family

font-family: "BrixSlab-ExtraLight";
font-family: "BrixSlab-ExtraLightItalic";

font-family: "BrixSlab-Light";
font-family: "BrixSlab-LightItalic";

font-family: "BrixSlab-Regular";
font-family: "BrixSlab-RegularItalic";

font-family: "BrixSlab-Medium";
font-family: "BrixSlab-MediumItalic";

font-family: "BrixSlab-Bold";
font-family: "BrixSlab-BlackItalic";

*/

.-hidden {
    display: none;
}