*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  font-size: 14px;
  /* for search */
  --filter-accent: #43a84366;
  --filter-accent1: #43a843;
}

.-visible > .-index {
  color: var(--filter-accent1) !important;
  font-style: italic;
  transition: all 0.25s linear;
}
.-hidden {
  display: none !important;
}

header {
  padding: 1rem 0;
  width: 100%;

  background-color: #333;

  position: fixed;
  top: 0;
}

header .main-title {
  width: 100%;

  font-family: "Industrial Medium";
  font-size: 2rem;
  line-height: 2.2rem;
  text-align: center;

  color: #fff;
}
header .main-title span {
  margin: 0 3px;
  color: wheat;
}

/* search-bar */
#search-bar,
.year-picker {
  min-width: 150px;
  min-height: 2em;

  margin-left: 3px;
  padding: 3px;

  font-family: "BrixSlab-LightItalic";
  font-size: 0.87rem;
  color: #fff;

  max-width: 10em;

  background: transparent;
  border: 1px solid #fff;
  outline: unset;
}

#search-bar:focus,
.year-picker:focus {
  background-color: var(--filter-accent);
}
.year-picker option {
  background-color: #424242;
}


/* Main Table */
.-table-header {
  position: sticky;
  background-color: #2c2c2c !important;
}
.-table-header * {
  font-family: "BrixSlab-LightItalic" !important;
  font-size: 0.87rem;
  line-height: 1.35rem;
  text-transform: none !important;

  color: #fff !important;
}

.table-row {
  padding: 5px 10px;
  width: fit-content;
  display: inline-flex;
  flex-wrap: nowrap;
}
.table-row:nth-of-type(odd) {
  background-color: #f0f0f0;
}

.cell {
  display: inline-block;
  white-space: nowrap;
  width: 5rem;
  overflow-x: hidden;

  font-family: "BrixSlab-Light";
}

/* Columns */
.-index {
  width: 2.5rem;
}
.-location {
  width: 7rem;
}
.-class {
  width: 12rem;
  text-transform: uppercase;
}
.-awardType {
  width: 8rem;
}
.-lastName {
  width: 12rem;
  text-transform: uppercase;
  text-decoration: none;
  color: #2c2c2c;
}
.-firstName {
  width: 10rem;
  text-transform: uppercase;
}
.-street {
  width: 18rem;
  text-transform: uppercase;
}
.-city {
  width: 10rem;
  text-transform: uppercase;
}
.-state {
  width: 3.5rem;
  text-transform: uppercase;
}
.-zip {
  width: 4rem;
}
.-phone, .-SSN {
  width: 6.5rem;
}
.-DOB {
  width: 7rem;
}
.-sex {
  width: 4rem;
  text-transform: uppercase;
}
.-grade {
  width: 7rem;
}
.-startDate, .-exitDate {
  width: 6rem;
}
.-programEnrollmentStatus {
  width: 11rem;
}
.-earnedAwardType {
  width: 8rem;
}


/* normalizing when printing */
@media print {
  menu {
    display: none;
  }
  .-table-header * {
    color: #2c2c2c !important;
  }
  .main-title {
    margin: 0;
    color: #2c2c2c !important;
  }
  .cell {
    border-bottom: 1px solid lightgray;
  }
}