@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main-box {
    width: 100%;
    min-height: 100vh;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    --col1: #fd6868d8;
    --col2: #f1f2adc7;
    background: var(--col1);

    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    position: relative;
}
.main-box::before {
    content: '';
    position: absolute;
    inset: 0;

    background: -webkit-linear-gradient(0deg, var(--col1), var(--col2));
    background: -moz-linear-gradient(0deg, var(--col1), var(--col2));
    background: linear-gradient(0deg, var(--col1), var(--col2));

    z-index: 0;
}

h1 {
    width: 95%;
    margin: 0 auto;

    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    color: #ffffff;
    text-align: center;

    margin-bottom: 7px;

    z-index: 1;
}
h2 {
    width: 90%;
    margin: 0 auto;

    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
    color: #ffffff;
    text-align: center;
    z-index: 1;
}
.-hgh {
    color: yellow;
}

@media (min-width: 1535px) {
    .main-box {
        background-image: url('/static/general-pages/NEA/NEA_1920.jpg');
    }
}
@media (max-width: 1535px) {
    .main-box {
        background-image: url('/static/general-pages/NEA/NEA_1535.jpg');
    }
}
@media (max-width: 1150px) {
    .main-box {
        background-image: url('/static/general-pages/NEA/NEA_1150.jpg');
    }
}
@media (max-width: 770px) {
    .main-box {
        background-image: url('/static/general-pages/NEA/NEA_770.jpg');
    }
    h1 { font-size: 35px; }
    h2 { font-size: 20px; }
}