@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=WindSong:wght@400;500&display=swap');
/* USAGE
font-family: 'Great Vibes', cursive;
font-family: 'WindSong', cursive; */


@font-face {
    font-family: "Industrial Medium";
    src: url('../fonts/Industry-Medium.ttf');
    font-display: swap;
}
@font-face {
    font-family: "Industrial Bold";
    src: url('../fonts/Industry-Bold.ttf');
    font-display: swap;
}
@font-face {
    font-family: "Brix";
    src: url('../fonts/BrixSlab-Regular.otf');
    font-display: swap;
}