/* @GENERAL */
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    font-family: "BrixSlab-Regular";
    font-size: 15px;
    font-weight: normal;
}


header, .main-test-box, footer {
    width: 95%;
    max-width: 1535px;
    margin: 1rem auto;
}

.test-block-box {
    padding: 5px;
    margin-bottom: 0.5rem;
    background-color: gray;
}




summary {
    cursor: pointer;
}
.item-box {
    margin: 0;
    padding: 0 25px;
    box-sizing: border-box;

    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: lightblue;
}
.skill {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}