/* @GENERAL */
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    font-family: "BrixSlab-Regular";
    font-size: 15px;
    font-weight: normal;
}


.landing-main-box {
    width: 100%;
    position: relative;
}

.main-nav-menu {
    width: 100%;
    height: 10.67rem;

    position: absolute;

    top: 0; left: 0;
    right: 0; bottom: 0;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;

    background-image: url('/static/images/logo-badge-black.png');
    background-repeat: no-repeat;
    background-size: 7.5rem;
    background-position-y: center;
    background-position-x: 4rem;

    z-index: 1;
}
.nav-item-box {
    margin: 0 2rem;
}
.nav-item {
    font-family: "Industrial Bold";
    font-size: 1.53rem;
    line-height: 2.67rem;

    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
}
.nav-item:not(.-inac):hover {
    /* color: var(--orange-high-desert); */
    
    text-shadow: 0px 0px 10px var(--orange-high-desert);
    transition: text-shadow .25s ease-in;
}
/* .-active:hover {

} */
.-inac {
    color: rgb(201, 201, 201);
}

.main-box {
    width: 100%;
}

header {
    width: 100%;
}
.header-img {
    width: 100%;
    
}




/* 
@Industrial
font-family: "Industrial Medium";
font-family: "Industrial Bold";


@BRIX font family

font-family: "BrixSlab-ExtraLight";
font-family: "BrixSlab-ExtraLightItalic";

font-family: "BrixSlab-Light";
font-family: "BrixSlab-LightItalic";

font-family: "BrixSlab-Regular";
font-family: "BrixSlab-RegularItalic";

font-family: "BrixSlab-Medium";
font-family: "BrixSlab-MediumItalic";

font-family: "BrixSlab-BlackItalic";
font-family: "BrixSlab-Bold";

*/