/* @GENERAL */
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --header-height: 6rem;
    --desktop-width: 100vw;

    --chart-width: calc(var(--desktop-width) * 0.65);
    --chart-column-width: calc(var(--chart-width) / 14);

    --main-color: #263544;
    --main-color60: #26354499;
}

header {
    position: fixed;

    width: 100%;
    height: var(--header-height);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: #333;

    z-index: 10;
}
.header-title {
    font-family: "Industrial Medium";
    font-size: 2rem;
    color: #fff;
    margin-bottom: 5px;
}

.dummy {
    width: 100%;
    height: calc(var(--header-height) + 2px);
    background-color: #af501d;
}

.chart-box {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-bottom: 2rem;
}
.chart-title {
    margin: 2rem 0;
    padding: 3px 10px;

    font-family: "BrixSlab-ExtraLightItalic";
    letter-spacing: 0.6px;
    font-size: 18px;
    text-align: left;
    color: #fff;

    background-color: var(--main-color);
}
.analythicsChart {
    padding: 1.5rem 0;
    width: var(--chart-width);
    height: 30vh;

    display: flex;
    align-items: flex-end;
    justify-content: center;

    position: relative;
}
.chart-column {
    --col1: #dbdbdb;
    --col2: #585858;

    width: var(--chart-column-width);
    max-width: 75px;
    padding: 0 1px;

    background-color: var(--col2);
    background: -webkit-linear-gradient(90deg, var(--col1) 35%, var(--col2));
    background: -moz-linear-gradient(90deg, var(--col1) 35%, var(--col2));
    background: linear-gradient(90deg, var(--col1) 35%, var(--col2));

    display: flex;
    flex-direction: column;

    position:relative;
    border-bottom: 1px solid #263544;
}
.chart-column::before {
    content: attr(data-value);

    width: 100%;
    text-align: center;
    color: #333;

    font-family: "BrixSlab-Regular";
    font-size: 14px;
   
    position: absolute;
    top: -1.5em; 
    left: 0;
}
.chart-column::after {
    content: attr(data-key);

    margin-top: 5px;
    width: 100%;
    min-width: 75px;
   
    font-family: "BrixSlab-RegularItalic";
    font-weight: bolder;
    font-size: 12px;
    text-align: center;
    color: #263544;

    position: absolute;
    top: 100%; 
    left: 0;
}
.chart-column[data-value='0']::before {
    top: -1.5em;
    color: #26354430;
}

.chart-sub-column {
    width: 100%;
    height: var(--h);
    background-color: var(--c);
    opacity: 0.35;
    border: 1px solid #26354430;
}

#analythics-cart-passed {
    background-color: #eefff5;
    background: linear-gradient(45deg, #88ffb9, #eefff5);
    background: -o-linear-gradient(45deg, #88ffb9, #eefff5);
    background: -moz-linear-gradient(45deg, #88ffb9, #eefff5);
}
#analythics-cart-failed {
    background-color: #f5e4e4;
    background: linear-gradient(45deg, #ffc5c5, #f5e4e4);
    background: -o-linear-gradient(45deg, #ffc5c5, #f5e4e4);
    background: -moz-linear-gradient(45deg, #ffc5c5, #f5e4e4);
}
#analythics-cart-declined {
    background-color: #fff0e0;
    background: linear-gradient(45deg, #ffcf9c, #fff0e0);
    background: -o-linear-gradient(45deg, #ffcf9c, #fff0e0);
    background: -moz-linear-gradient(45deg, #ffcf9c, #fff0e0);
}
#analythics-cart-military {
    background-color: lightyellow;
    background: linear-gradient(45deg, #ffff76, lightyellow);
    background: -o-linear-gradient(45deg, #ffff76, lightyellow);
    background: -moz-linear-gradient(45deg, #ffff76, lightyellow);
}

#passed-chart h3 span {
    color: #88ffb9;
}
#failed-chart h3 span {
    color: #ffc5c5;
}
#declined-chart h3 span {
    color: #ffcf9c;
}
#military-chart h3 span {
    color: #ffff76;
}
.-mt h3 span {
    color: #3789EB;
}

.chart-sub-column {
    font-family: "BrixSlab-Bold";
    font-size: calc(var(--chart-column-width) * 0.3);
    color: #fff;
    text-decoration: none;
    text-shadow: 2px 2px 2px #161616;

    display: flex;
    align-items: center;
    justify-content: center;
}


/* Skills Test Table */
.-mt {
    margin: 8rem auto 3rem auto;
    width: 95%;
    max-width: 1150px;
}
.analythicsTable {
    width: 100%;

    display: inline-flex;
    align-items: flex-start;
    justify-content: space-between;

    margin-bottom: 2rem;
}
.analythicsTable * {
    font-family: "BrixSlab-Regular";
}
.table-left-column {
    width: 250%;
    text-align: left;
}
.table-column {
    width: 100%;
    text-align: center;
}

.table-left-column * {
    white-space: nowrap;
}

.table-left-column .table-header {
    font-weight: 700;
    font-size: 1rem;
    line-height: 2.53rem;
    color: #0F1C2F;
}
.table-column .table-header {
    font-weight: 600;
    font-size: 0.73rem;
    line-height: 2.53rem;
    color: #000000;
}

.table-left-column .-total {
    font-weight: 500;
    font-size: 1rem;
    line-height: 2.67rem;
    color: #FFFFFF;
}
.table-column .-total {
    font-weight: 500;
    font-size: 1rem;
    line-height: 2.67rem;
    color: #AAAAAA;
}

.table-left-column .table-value:not(.-total) {
    font-weight: 500;
    font-size: 1rem;
    line-height: 2.67rem;
    color: #000000;
}
.table-column .table-value {
    font-weight: 500;
    font-size: 1rem;
    line-height: 2.67rem;
    color: #AAAAAA;
}

.table-value:not(.-total) {
    border-right: 1px solid #DADADA;
}

.table-value.-group {
    font-weight: 700 !important;
    color: #3789EB !important;
}

.-subvalue {
    font-size: 0.83rem !important;
    line-height: 1.53rem !important;
}

.table-note {
    font-size: 0.83rem;
    color: #a3a3a3;
}

.table-value.-group[data-tabvalue = "0"] {
    color: #d8e7f9 !important;
}
[data-tabvalue = "0"] {
    color: #ebebeb !important;
}



@media (max-width: 1080px) {
    :root {
        --chart-width: calc(var(--desktop-width) * 0.85);
    }
}
@media (max-width: 900px) {
    :root {
        font-size: 14px;
        --chart-width: calc(var(--desktop-width) * 0.95);
    }
    
    .chart-column:nth-child(1),
    .chart-column:nth-child(2),
    .chart-column:nth-child(3),
    .chart-column:nth-child(4) {
        display: none;
    }
    .table-column:nth-child(2),
    .table-column:nth-child(3),
    .table-column:nth-child(4),
    .table-column:nth-child(5) {
        display: none;
    }
}
@media (max-width: 800px) {
    :root {
        font-size: 13px;
    }
    .chart-column::after {
        min-width: unset;
        font-size: 10px;
    }
}
@media (max-width: 700px) {
    .chart-column:nth-child(5),
    .chart-column:nth-child(6),
    .chart-column:nth-child(7) {
        display: none;
    }
    .table-column:nth-child(6),
    .table-column:nth-child(7),
    .table-column:nth-child(8) {
        display: none;
    }
}
@media (max-width: 650px) {
    :root {
        font-size: 12px;
    }
    .chart-title {
        margin-bottom: 3.5rem;
    }
    .chart-column::after {
        margin-top: 18px;
        transform: rotate(-90deg);
    }
}
@media (max-width: 550px) {
    .chart-title {
        font-size: 14px;
    }
    .chart-column::after {
        margin-top: 30px;
    }
    .chart-column:nth-child(8) {
        display: none;
    }
    .table-column:nth-child(9),
    .table-column:nth-child(10) {
        display: none;
    }
}
@media (max-width: 350px) {
    .header-title {
        font-size: 1.65rem;
    }
    .chart-title {
        font-size: 12px;
    }
}