@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css');


/* @GENERAL */
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --left-panel-width: 15vw;
    --desktop-width: calc(100vw - var(--left-panel-width));
    --top-side-heihgt: 70px;

    --chart-width: calc(var(--desktop-width) * 0.85);
    --chart-column-width: calc(var(--chart-width) / 14);

    --main-color: #263544;
    --main-color60: #26354499;
}

.main-adm-box {
    width: 100vw;
}
.left-panel {
    width: var(--left-panel-width);
    min-width: 175px;
    height: 100vh;

    font-family: "BrixSlab-Regular";
    font-size: 15px;
    font-weight: normal;

    background-color: var(--main-color);

    position: fixed;
    top: 0;
    left: 0;
}
.adm-desktop {
    width: var(--desktop-width);
    min-height: calc(100vh - var(--top-side-heihgt));

    margin-top: var(--top-side-heihgt);
    margin-left: var(--left-panel-width);

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
        
    background-color: #f2f7fb;
    color: #333;
}
.top-side {
    width: var(--desktop-width);
    height: var(--top-side-heihgt);

    font-family: "BrixSlab-Regular";
    font-size: 15px;
    font-weight: normal;

    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    
    position: fixed;
    top: 0;
    left: var(--left-panel-width);

    -webkit-box-shadow: 0px 3px 10px 0px var(--main-color60);
    -moz-box-shadow: 0px 3px 10px 0px var(--main-color60);
    box-shadow: 0px 3px 10px 0px var(--main-color60);

    z-index: 1;
}
.tool-bar {
    width: 100%;

    display: inline-flex;
    align-items: center;
    justify-content: space-between;
}
.charts-bar {
    min-width: 200px;
    display: inline-flex;
}
.chart-item {
    width: 4.5rem;
    padding: 0 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    text-decoration: none;
}
.chart-ico {
    width: 2rem;
    height: 2rem;
    fill: #33628b;
    transition: all 0.3s ease-in;
}
.chart-item span {
    font-family: "BrixSlab-Light";
    font-size: 0.63rem;
    text-align: center;
    color: #686868;

    transition: all 0.5s ease-in;
}
.chart-item:hover .chart-ico {
    padding: 4px;
    fill:#fff;
    background-color: #33628b;
    border-radius: 5px;
}
.chart-item:hover span {
    letter-spacing: 0.5px;
    opacity: 0.35;
}

.top-side-name {
    padding: 0 1rem;
    font-family: "BrixSlab-RegularItalic";
}
.top-side-id {
    height: 100%;
    padding: 0 1rem;
    
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: "BrixSlab-ExtraLightItalic";
    color: #ffffff;

    background-color: var(--main-color60);
}
.navigation {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.fas {
    font-size: 1.5rem;
    color: #ffff00f3;
    margin-right: 7px;

    transition: all 0.25s linear;
}
.-btn:hover>.fas {
    color: #ffd900;
    transform: translateY(-1px);
}

.adm-profile {
    width: 100%;
    padding: 1rem;

}
.adm-profile p {
    font-family: "BrixSlab-ExtraLightItalic";
    font-size: 0.9rem;
    line-height: 2rem;
    color: #f2f7fb;
}
.adm-prop {
    padding-left: 5px;
    color: wheat;
}
.-btn {
    width: 100%;
    min-height: 50px;
    padding: 0 10px;
    
    display: flex;
    align-items: center;
    justify-content: left;

    text-decoration: none;
    color: #b7c0cd;

    border: none;
    background-color: transparent;

    border-bottom: 1px solid hsla(207, 90%, 61%, 0.1);
    cursor: pointer;
}
.-main-page {
    min-height: var(--top-side-heihgt);
    text-transform: uppercase;
}
.log-out-form {
    width: 100%;
}
.-log-out {
    width: 100%;

    font-family: 'WindSong', cursive;
    font-size: 2rem;
    letter-spacing: 1px;

    background-color: #1d2531;
}


/* 
@Industrial
font-family: "Industrial Medium";
font-family: "Industrial Bold";


@BRIX font family

font-family: "BrixSlab-ExtraLight";
font-family: "BrixSlab-ExtraLightItalic";

font-family: "BrixSlab-Light";
font-family: "BrixSlab-LightItalic";

font-family: "BrixSlab-Regular";
font-family: "BrixSlab-RegularItalic";

font-family: "BrixSlab-Medium";
font-family: "BrixSlab-MediumItalic";

font-family: "BrixSlab-Bold";
font-family: "BrixSlab-BlackItalic";

*/

.chart-title {
    font-family: "BrixSlab-RegularItalic";
    font-size: 18px;
    margin-bottom: 3rem;
}
.analythicsChart {
    width: var(--chart-width);
    height: 30vh;

    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.chart-column {
    --col1: lightgray;
    --col2: gray;

    width: var(--chart-column-width);
    max-width: 75px;
    padding: 0 1px;

    background-color: var(--col2);
    background: -webkit-linear-gradient(90deg, var(--col1) 35%, var(--col2));
    background: -moz-linear-gradient(90deg, var(--col1) 35%, var(--col2));
    background: linear-gradient(90deg, var(--col1) 35%, var(--col2));

    display: flex;
    flex-direction: column;

    position:relative;
    border-bottom: 1px solid #26354430;
}
.chart-column::before {
    content: attr(data-value);

    width: 100%;
    text-align: center;
    color: #333;

    font-family: "BrixSlab-Regular";
    font-size: 15px;
   
    position: absolute;
    top: -1.5em; 
    left: 0;
}
.chart-column::after {
    content: attr(data-key);

    margin-top: 5px;
    width: 100%;
    min-width: 75px;
   
    font-family: "BrixSlab-Regular";
    font-size: 12px;

    text-align: center;

    position: absolute;
    top: 100%; 
    left: 0;
}
.chart-column[data-value='0']::before {
    top: -1.5em; 
    color: #26354430;
}


.chart-sub-column {
    width: 100%;
    height: var(--h);
    background-color: var(--c);
    opacity: 0.35;
    border: 1px solid #26354430;
}

@media (max-width: 1170px) {
    :root {
        --left-panel-width: 175px;
    }
    .chart-column::after {
        transform: rotate(-90deg);
        min-width: 1rem;

        display: flex;
        align-items: flex-start;
        justify-content: flex-end;

        top: calc(100% + 2rem);

    }
}
@media (max-width: 400px) {
    :root {
        font-size: 13px;
        --chart-width: calc(var(--desktop-width) * 0.95);
    }
}