<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TTA / Ooopps...</title>

    <link rel="shortcut icon" href="/static/images/thumb.png">
        
    <!-- Styles -->
    <link rel="stylesheet" href="../static/css/fonts.css">
        
    <link rel="stylesheet" href="/users/issue-page.css">

</head>
<body>
    <div class="main-box">
        <h1 class="main-box-title">
            <%= locals.msg %>
        </h1>
    </div>
</body>
</html>