/* @GENERAL */
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    font-size: 20px;
    font-weight: normal;
}


.login-box {
    width: 100%;
    height: 100vh;

    background-color: #333;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    position: relative;
}

.login-box::after {
    content: "";

    left: 0;
    top: 0;
    right: 0;
    bottom: 0;

    position: absolute;

    background-color: white;

    opacity: 0.5;
    z-index: 1;
}

.login-inner {
    width: 90%;
    max-width: 700px;
    height: 100%;

    position: absolute;
    top: 0;

    left: 50%;
    transform:translateX(-50%);

    background-color: var(--black80-worn);

    z-index: 2;
}


/* toggle-box */
.slider {
    margin: 0 auto;
    width: 50px;
    height: 25px;

    display: flex;
    align-items: center;
    justify-content: flex-start;

    box-shadow: inset 0 0 3px 1px #ffffffa8;
    background-color: #333333e6;

    border-radius: 15px;

    transition: all 0.35s ease-in-out;
    cursor: pointer;

    position: relative;
}
.slider::before {
    left: -100%;
    position: absolute;
    content: "User";

    font-family: "BrixSlab-Medium";
    font-size: 0.8rem;
    text-transform: uppercase;
    color: #bebbb0;
}
.slider::after {
    left: 120%;
    position: absolute;
    content: "Admin";

    font-family: "BrixSlab-Medium";
    font-size: 0.8rem;
    text-transform: uppercase;
    color: #bebbb0;
}

.-to-admin {
    justify-content: flex-end;
}
.-to-admin .slider-button {
    --col1: #00ffff;
    --col2: #006060;

    background-color: var(--col1);
    background: linear-gradient(270deg, var(--col1), var(--col2));
}
.slider.-to-admin::after {
    color: aqua;
}

.slider-button {
    margin: 0 2px;
    width: 21px;
    height: 21px;
    background-color: #ffffffa8;
    border-radius: 12px;
}
.slider:hover .slider-button {
    opacity: 0.9;
}

.logo-box {
    width: 30vh;
    margin: 5vh auto 1vh;
}

.login-logo {
    width: 100%;
    opacity: 0.85;
}
.login-logo:hover {
    opacity: 0.95;
}
.register-box,
.admin-prompt {
    width: 100%;
    
    font-family: "BrixSlab-Medium";
    font-size: 0.8rem;
    text-transform: uppercase;
    text-align: center;
    color: #151515;
}
.admin-prompt {
    font-size: 1rem;
    color: var(--orange-high-desert);
}
.register-box a {
    margin-left: 0.35rem;
    text-decoration: none;
    color: var(--orange-high-desert);
}

.message-box {
    width: 95%;
    height: 20vh;
    margin: 0 auto;

    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;

    font-family: "BrixSlab-LightItalic";
    color: white;
}

.message-box ol * {
    list-style-position: inside;
    font-size: 0.83rem !important;
    color: wheat;
}

.log-issue {
    font-family: "BrixSlab-LightItalic";
    text-align: center;
    color: #bcb8ad;
}

.sign-regist-form-box,
.admin-box {
    width: 80%;
    min-width: 300px;
    margin: 0 auto;
    height: 30vh;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;

    background: transparent;
}

.sign-form-box,
.regist-form-box {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    background: transparent;
}

.sign-input {
    all: unset;

    margin-bottom: 1vh;
    padding: 5px 0;

    width: 100%;
    height: 7vh;

    font-family: "BrixSlab-ExtraLight";
    font-size: 1.25rem;
    color: var(--gray80-pacific-cloud);
    text-align: center;

    background: var(--black20-worn);
    border: none;
    outline: none;

    border-bottom: 1px solid var(--gray60-pacific-cloud);
}
.sign-input:not(empty) {
    background: var(--black20-worn);
    color: var(--gray-pacific-cloud);
}

.sign-btn {
    padding: 5px 0;

    width: 100%;
    height: 7vh;

    background: var(--gray20-pacific-cloud);

    font-family: "BrixSlab-Regular";
    font-size: 1rem;
    text-transform: uppercase;
    color: #151515;
    
    border: none;
    outline: none;
    border-radius: 5vh;

    display:inline-flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
}
.sign-btn:hover {
    background: var(--gray40-pacific-cloud);
}

.reset-box {
    width: 100%;
    
    font-family: "BrixSlab-Medium";
    font-size: 0.7rem;
    text-transform: uppercase;
    text-align: right;
    color: var(--orange-high-desert);

    cursor: pointer;
}


.-hidden {
    display: none
}


/* MEDIA REQUESTS */
@media (min-width: 1800px){
    .login-box {
        background-image: url("/static/images/pages/login_back_2400-min.jpg");
    }
}

@media (max-width: 1800px){
    .login-box {
        background-image: url("/static/images/pages/login_back_1800-min.jpg");
    }
}

@media (max-width: 1500px){
    .login-box {
        background-image: url("/static/images/pages/login_back_1500-min.jpg");
    }
}

@media (max-width: 1200px){
    .login-box {
        background-image: url("/static/images/pages/login_back_1200-min.jpg");
    }
}

@media (max-width: 1000px){
    .login-box {
        background-image: url("/static/images/pages/login_back_1000-min.jpg");
    }
}

@media (max-width: 800px){
    .login-box {
        background-image: url("/static/images/pages/login_back_800-min.jpg");
    }
}

@media (max-width: 600px){
    .login-box {
        background-image: url("/static/images/pages/login_back_600-min.jpg");
    }
}


@media (orientation: portrait) {
    .sign-regist-form-box {
        width: 90%;
        height: 25vh;
    }
}
