<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <h1>Register</h1>

    <section>
        <% if (registErrorObj.isThere) { %>
            <h2>Errors founded</h2>
            <ol type='1'>
                <% registErrorObj.errors.map(err => { %>
                    <li><span><%= err.param.toUpperCase() %>:</span><strong><%= err.msg %></strong></li>
                <% }) %>
            </ol>
        <% } %>
    </section>      <!-- errors box -->

    <form action="/user/register" method="POST">
        <input type="text" name='name' placeholder="Name" required />
        <input type="email" name='email' placeholder="Email" required />
        <input type="password" name='password' placeholder="Password" required />
        <button type="submit">Submit</button>
    </form>
    <a href="/user/login">Login</a>
</body>
</html>