*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    font-family: 'BrixSlab-Regular';
    font-size: 15px;

    color: var(--blue-slate)
}

body, html {
    width: 100%;
    min-height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;

    flex-wrap: wrap;
}

ol {
    list-style-position: inside;
}
li {
    padding: 0.3rem 0;
    text-align: justify;
}


.qr-box {
    --grad-color1: var(--good-done);
    --grad-color2: #52b3b6;

    margin: 0 auto;
    padding: 2rem 0;

    width: 95%;
    max-width: 1024px;
    
    background: var(--grad-color1); /* Old browsers */
    background: -moz-linear-gradient(135deg,  var(--grad-color1), var(--grad-color2)); /* FF3.6-15 */
    background: -webkit-linear-gradient(135deg,  var(--grad-color1), var(--grad-color2)); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg,  var(--grad-color1), var(--grad-color2)); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

    border-radius: 1rem;

    -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}

.-success {
    --grad-color1: var(--good-done);
    --grad-color2: #52b3b6;
}

.-fail {
    --grad-color1: var(--bad-todo);
    --grad-color2: #e988f9;
    max-width: 720px;
}

.qr-main-title, .qr-main-type {
    padding: 0 0 2rem 0;

    font-family: "BrixSlab-Light";
    font-size: 3rem;
    text-align: center;

    color: var(--black80-worn)
}

.qr-main-type {
    font-family: "BrixSlab-Medium";
    color: var(--orange-high-desert);
}

.inner-box {
    width: 95%;
    margin: 0 auto;
}

.qr-block {
    margin-bottom: 1rem;
}

.qr-block-title {
    margin-bottom: 0.5rem;

    font-family: 'WindSong', cursive;
    font-size: 1.75rem;
    text-align: center;

    color: var(--black80-worn)
}

.flex-box {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-evenly;

    border: 1px solid var(--blue40-slate);
    border-radius: 0.5rem;

    padding: 1rem 0;
}
.grid-table {
    padding: 0 .35rem;
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr 1fr 1fr;
}
.grid-value {
    font-family: "BrixSlab-Light";
    margin-bottom: 0.25rem;
}
a.grid-value {
    color: white;
}

.lastLine {
    background-color: var(--black15-worn);
    border-radius: 0.35rem;
}


.title {
    margin-bottom: 1px;
    margin-right: 0.5rem;
    margin-left: -5rem;
    padding-right: 0.3rem;

    min-width: 7rem;

    display: inline-flex;
    justify-content: right;

    font-family: "BrixSlab-Medium";
    text-transform: uppercase;
    

    border-right: 1px solid var(--blue20-slate);
}
.value {
    font-family: "BrixSlab-Light";
}
.-name {
    font-family: "BrixSlab-Medium";
    font-size: 1.25rem;
}

.-center {
    text-align: center;
}
.-right {
    text-align: right; 
}
.-left {
    margin-left: 0;
    text-align: left; 
}

.step {
    width: 1.5rem;
    height: 1.5rem;

    margin: 1px 1rem 1px 0;

    display: inline-flex;
    justify-content: center;

    border-radius: 50%;

    -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}
.-step-done {
    color: white;

    background: var(--good-done); /* Old browsers */
    background: -moz-linear-gradient(135deg,  var(--good-done), var(--good-done1)); /* FF3.6-15 */
    background: -webkit-linear-gradient(135deg,  var(--good-done), var(--good-done1)); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg,  var(--good-done), var(--good-done1)); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
.-step-todo {
    color: white;

    background-color: var(--bad-todo);
    background: -moz-linear-gradient(135deg,  var(--bad-todo), var(--bad-todo1)); /* FF3.6-15 */
    background: -webkit-linear-gradient(135deg,  var(--bad-todo), var(--bad-todo1)); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg,  var(--bad-todo), var(--bad-todo1)); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.-btn {
    margin: 0.2rem;
    padding: 0.3rem;
    width: 100px;
    min-width: 100px;

    display: inline-flex;
    justify-content: center;

    background-color: var(--orange-high-desert);
    text-decoration: none;
    color: white;

    border-radius: 1rem;

    -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}


/* GEO LOcation Page */
@keyframes showing {
    from { opacity: 0 }
    to { opacity: 1 }
}

.geo-box {
    padding: 3rem;
    text-align: center;
    background-color: var(--blue15-slate);
    border-radius: 0.5rem;

    animation: showing 1s ease-in
}
.main-geo-title {
    width: 100%;
    font-family: "BrixSlab-Medium";
    font-size: 2rem;
}
.main-geo-subtitle {
    width: 100%;
    font-size: 1.2rem;
}

.-hidden {
    display: none;
}