<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>TTA QR | GEO-Location Page </title>
    
    <link rel="shortcut icon" href="../../static/images/thumb.png">
    
    <!-- Styles -->
    <link rel="stylesheet" href="../../static/css/fonts.css">
    <link rel="stylesheet" href="../../static/css/brix-family.css">

    <link rel="stylesheet" href="../../static/css/colors.css">
    
    <link rel="stylesheet" href="/admin/views/qr-styles.css">
</head>
<body>
    <section class="geo-box">
        <h1 class='main-geo-title'>Your Clock module is setup with required GEO-location option</h1>
        <h2 class='main-geo-subtitle'>Please allow GEO-location check on your browser's request</h2>
    </section>

    <form class='-hidden' action="/admin/qr-update-geo" id='updateGeo' method="post">
        <input type="text" name='studentId' id='studentId' value='<%= student._id %>' readonly>
        <input type="text" name='clockBacklink' id='clockBacklink' value='<%= clockBacklink %>' readonly>
        <input type="text" name='error' id='error' readonly>
        <input type="text" name='lat' id='lat' readonly>
        <input type="text" name='lon' id='lon' readonly>
    </form>


    <script defer>

        const error = document.querySelector('#error')
        const lat = document.querySelector('#lat')
        const lon = document.querySelector('#lon')

        function showError(error) {

            switch(error.code) {
                case error.PERMISSION_DENIED:
                error.value = "You denied the request for Geolocation"
                break;
                case error.POSITION_UNAVAILABLE:
                error.value = "Location information is unavailable"
                break;
                case error.TIMEOUT:
                error.value = "The request to get user location timed out"
                break;
                case error.UNKNOWN_ERROR:
                error.value = "An unknown error occurred"
                break;
            }
        }

        if ('<%= qrCONFIG.requiresGeoLocationCheck %>' === 'true') {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition((position) => {
                    lat.value = position.coords.latitude
                    lon.value = position.coords.longitude
                    error.value = "ok"
                    // submiting a POST form without a button click
                    document.forms['updateGeo'].submit()

                }, showError)  //  navigator.geolocation.getCurrentPosition
            } else {
                error.value = "GEO required, but not allowed by user"
                // submiting a POST form without a button click
                document.forms['updateGeo'].submit()
            }
        } else {
            error.value = "not required"// submiting a POST form without a button click
            document.forms['updateGeo'].submit()
        }

        
        

    </script>

</body>
</html>