/* @GENERAL */
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.schedule-box {
    width: 95%;
    margin: 0 auto;
}

.-hidden {
    display: none;
}

.calendar-box {
    width: 100%;
}
.two-weeks-box {
    width: 100%;
    display: inline-flex;
}


.calendar {
    width: 50%;
    display: flex;
}
.calendar-column {
    margin-right: 1px;
    width: 12%;
    display: flex;
    flex-direction: column;
}
.-week-two {
    display: none;
}
.day-of-week {
    display: flex;
    flex-direction: column;
}

.day-date {
    font-size: 0.8rem;
}

.-left-header {
    border-bottom: 1px solid gray;
}

.-occupied {
    width: 100%;

    overflow-x: hidden;
    white-space: nowrap;

    position: relative;
}

.student-namekey {
    display: flex;
    
    background-color: #a5a5a5b0;
    cursor: default;
}

.tool-bar {
    padding: 1px 3px;
    /* display: inline-flex; */
    display: none;

    position: absolute;
    top: 0; left: 0;
    z-index: 10;

    background-color: #333333e0;
    border-radius: 3px;

    transition: all 0.2s linear;
}
.delete-btn {
    width: 14px;
    height: 14px;
    
    fill: #ff8c8c;
    transition: all 0.2s linear;
}
.delete-btn:hover {
    fill: #ff7575;
    transform: rotate(180deg);
}

.-occupied:hover .tool-bar {
    display: inline-flex;
}

.-submit {
    padding: 5px 15px;
    margin: 3px 0;

    width: 100px;
    text-align: center;

    border: 1px solid #333;
    border-radius: 25px;

    cursor: pointer;
}

