*, *::before, *::after {
    margin: 0;
    padding: 0;
    font-size: 15px;
    box-sizing: border-box;
}

:root {
    --max-content-width: 1650px;
    --nav-height: 120px;
    --header-height: 52px;
}

/* NAV BAR */
nav {
    width: 100%;
    position: fixed;
    top: 0;
}
.nav-bar {
    width: 100%;
    height: var(--nav-height);

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
    background-color: var(--orange-high-desert);
    
    position: relative;
    z-index: 0;
}
.nav-bar::after {
    content: '';
    position: absolute;
    inset: 0;
    
    background-image: url('/static/images/scratch/scratch864-150.png');
    background-position: center;
    background-repeat: repeat-x;

    opacity: 0.8;
    
    z-index: 1;
}
.nav-text, .nav-bar menu {
    z-index: 2;
}
.nav-text {
    width: 100%;
}
.nav-text h2 {
    font-family: "Industrial Medium";
    font-size: 2rem;
    color: #fff;
    text-align: center;

    text-shadow: 0px 0px 5px #333333b5;
}
.nav-text p {
    width: 100%;
    margin: 3px auto;
    padding: 2px;
    
    font-family: "BrixSlab-LightItalic";
    letter-spacing: 0.7px;
    font-size: 0.93rem;
    text-align: center;
    
    color: #fff;
    background-color: #333333b5;
}
header {
    width: 100%;
    height: var(--header-height);
    background-color: #333;
}
#schema-headers-users {
    width: 95%;
    max-width: var(--max-content-width);
    margin: 0 auto;
}
#schema-headers-users > div {
    padding: 5px 0;
    
    font-family: "BrixSlab-LightItalic";
    font-size: 0.83rem;
    color: #fff;

    text-align: center;
    text-transform: capitalize;   
}


/* BODY */
.schema-users {
    width: 95%;
    max-width: var(--max-content-width);
    margin: calc(var(--nav-height) + var(--header-height)) auto;
}
.schema-row {
    padding: 4px 0;
    width: 100%;
    display: flex;
    align-items: center;
    font-family: "BrixSlab-Regular";
}
.schema-row:nth-of-type(even) {
    background-color: var(--blue20-slate);
}

.schema-col-index {
    width: 6%;
    min-width: 50px;
    text-align: center;
}
.schema-col-name {
    width: 22%;
    min-width: 14.67rem;
    text-align: left;
    color: #333
}
.schema-col-email {
    width: 22%;
    min-width: 14.67rem;

    font-family: "BrixSlab-LightItalic";
    text-align: left;

    color: var(--orange-high-desert);
}
.schema-col-token, .schema-col-created {
    width: 9%;
    min-width: 6rem;

    text-align: center;
}
.schema-col-lastSESS {
    width: 13%;
    min-width: 8.67rem;

    display: flex;
    align-items: top;
    justify-content: space-between;
}
.schema-col-lastSESS .last-time {
    margin-left: 5px;
    color: var(--orange-high-desert);
}

.schema-col-dataCollection,
.schema-col-application,
.schema-col-agreement,
.schema-col-student {
    width: 7%;
    min-width: 1.67rem;

    display: flex;
    align-items: center;
    justify-content: center;

    text-align: center;
}

.token-not-sent,
.token-verified,
.token-not-confirmed {
    font-family: "BrixSlab-RegularItalic";
    font-size: 0.83rem;
    letter-spacing: 0.5px;
}

.token-not-sent {
    color: var(--black60-worn)
}
.token-verified {
    color: #43a843;
}
.token-not-confirmed {
    font-size: 1rem;
    color: #9c3232;
}


.-hidden {
    display: none;
}
.-ico {
    width: 20px;
    height: 20px;
}
#check {
    fill: #43a843;
}
#uncheck {
    fill: #9c3232;
}

@keyframes moveback {
    0% { 
        opacity: 0.3;
    }
    25% { 
        transform: translateX(-5px);
    }
    100% { 
        transform: translateX(0);
        opacity: 1;
    }
}
.-hightight-update-row {
    animation: moveback 1s linear;
}

footer {
    margin-top: calc(-1 * var(--header-height));
    width: 100%;
    height: var(--header-height);

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #333;
}
footer * {
    font-family: "BrixSlab-RegularItalic";
    color:#fff;
}